.App
{   
    min-width: 320px;
    min-height: 634px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #090E16;
    display: flex;
    flex-direction: column;
    color: white;
}